.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 150px;
}

.title {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 20px;
}

.button {
  width: 255px;
  margin-top: 10px;
  margin-bottom: 60px;
  border-color: white;
}

.googleButton {
  display: flex;
  width: 255px;
  margin-top: 10px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-color: white;
}

.googleLogo {
  height: 25px;
}
