.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 120px;
  margin-bottom: 15px;
}

.title {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 20px;
}

.button {
  width: 190px;
  margin-top: 10px;
  background-color: var(--purple);
  color: var(--purple-text);
  border-color: var(--purple);
  font-size: 23px;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.leaderboardButton {
  width: 190px;
  margin-top: 10px;
  background-color: var(--purple);
  color: var(--purple-text);
  border-color: var(--purple);
  margin-bottom: 60px;
  font-size: 23px;
  transition: transform 0.2s ease-in-out;
}

.leaderboardButton:hover {
  transform: scale(1.05);
}

.infoButton {
  top: 8rem;
  right: 10rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s ease-in-out;
  margin-left: 10px;
}

.buttonContainer {
  position: absolute;
  top: 8rem;
  right: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoButton:hover {
  transform: scale(1.05);
}

.logo {
  width: 120px;
}

.logoWrapper {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.droplet {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
