@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding-inline: 20px;
  margin-top: 10px;
  background-color: var(--purple);
  color: var(--purple-text);
  border-color: var(--purple);
  font-size: 23px;
}
