.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding-inline: 20px;
  margin-top: 10px;
  background-color: var(--purple);
  color: var(--purple-text);
  border-color: var(--purple);
  font-size: 23px;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
