@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 150px;
}

.title {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 30px;
}

.button {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 60px;
  border-color: white;
  background-color: #ffff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", arial, sans-serif;
  color: #1f1f1f;
  height: 40px;
}
