.playerInfoContainer {
  background-color: #282a35;
  display: flex;
  align-items: center;
  padding: 0.3125rem;
  width: 96%;
  height: 3.25rem;
  border-radius: 999px;
  border: solid 2px #282a35;
}

.guessedWord {
  border: solid 2px var(--purple);
}

.playerInfoSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playerInfoUsername {
  color: #9da3cb;
  font-weight: bold;
}

.playerInfoPoints {
  color: #9da3cb;
}
