.pictureBorder {
  border-radius: 50%;
  border: 2px solid var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pill {
  font-size: 20px;
  font-weight: 600;
  border-radius: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: x-large;
  margin-bottom: 10px;
}

.lightBackground {
  background-color: var(--purple);
  color: var(--purple-text);
}

.darkBackground {
  background-color: var(--dark-background);
  color: var(--purple);
}

.userInfoContainer {
  gap: 10px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
