:root {
  --background-colour: #1b1c24;
  --purple: #b1b5e0;
  --purple-text: #494e8a;
  --dark-background: #282a35;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--background-colour);
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--purple);
}

h2 {
  color: var(--purple);
}

button:hover {
  opacity: 95%;
}

button {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-radius: 30px;
  height: 45px;
  border: 1px solid;
  cursor: pointer;
}

#google-signin-button:hover {
  opacity: 95%;
}

#google-signin-button {
  margin-bottom: 80px;
}

#tooltip,
#enter-game-tip {
  background-color: var(--purple) !important;
  color: var(--dark-background) !important;
  font-size: 18px !important;
  border-radius: 8px !important;
  z-index: 1000 !important;
  font-weight: 600 !important;
}
